<div class="row no-gutters pt-3">
  <div class="col-3 d-flex flex-column">
    <div id="list-example" class="list-group align-self-center">
      <% @prescriptions.reverse_each.with_index do |prescription, index| %>
        <a class="list-group-item list-group-item-action" href="#list-item-<%= index %>">
          <%= I18n.l(prescription.created_at, format: :short, locale: :'fr-FR') %>
        </a>
      <% end %>
    </div>
  </div>

  <div class="col-9">
      <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">

        <% @prescriptions.reverse_each.with_index do |prescription, index| %>
          <h3 class="consultation-card-header" id="list-item-<%= index %>"></h3>
          <div class="prescription-card justify-space-between">
            <p class="font-weight-bold"><%= I18n.l(prescription.created_at, format: :long, locale: :'fr-FR') %></p>
            <div class="d-flex justify-content-between px-2 py-2 mb-0">

              <div class="d-flex justify-content-start mt-2">
                <i class="fas fa-user fa-3x" style="color:#6883F6;"></i>
                <div class="ml-3">
                  <%="Dr #{User.find(prescription.user_id).first_name} #{User.find(prescription.user_id).last_name}"%>
                </div>
              </div>

              <div>
                <i class="fas fa-file-pdf fa-2x d-flex justify-content-end" style="color:#6883F6;"></i>
              </div>
            </div>

            <div class="px-2 traitement-title mt-2"><b> Traitement </b></div>

            <div class="d-flex justify-content-between mt-1 px-2">
              <div class="w-25">
                <i class="fas fa-prescription-bottle-alt fa-2x mr-2" style="color:#6883F6;"></i>
                <%= prescription[:medicine_name]%>
              </div>

              <div class="d-flex justify-content-around flex-grow-1">
                <div>
                  <i class="fas fa-clock mr-2" style="color:#6883F6;"></i>
                  <%="  Matin: #{prescription[:dose_morning]} U"%>
                </div>
                <div>
                  <i class="fas fa-clock mr-2" style="color:#6883F6;"></i>
                  <%="  Midi: #{prescription[:dose_noon]} U"%>
                </div>
                <div>
                  <i class="fas fa-clock mr-2" style="color:#6883F6;"></i>
                  <%="  Soir: #{prescription[:dose_night]} U"%>
                </div>
              </div>
            </div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>









