
<%= link_to new_patient_consultation_path do %>
  <button id="nav-new" class="btn-primary btn-new" onclick="openTab(event, 'new-consultation')">Ajouter une consultation</button>
<% end %>
<div class="row pt-4">
  <div class="col-xs-12 col-sm-12 col-md-4">
    <% @consultations.each do |consultation| %>
      <div class="m-2">
        <%= consultation.created_at %>
      </div>
    <% end %>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-8">
    <% @consultations.each do |consultation| %>
      <div class="card">
        <div class= "m-5 card-body">
          <div>
            <%= "Taille : #{consultation.height}" %>
            <%= "Poids : #{consultation.weight}"%>
          </div>
          <%= "Compte rendu : #{consultation.report}" %>
        </div>
      </div>
    <% end %>
  </div>
</div>



