<div class="d-flex justify-content-around align-items-center mt-4 mb-4 px-2 py-2" style="background-color: white; border-radius: 5px; border: 2px solid #FFCA56; box-shadow: 2px 2px 1px rgba(255, 202, 86, 0.9)">
  <% if @consultations.empty? %>
    <h3 class="flex-grow-1 ml-2">Aucune consultation n'existe pour ce patient</h3>
  <% elsif @time_since_last <= 1 %>
    <h3 class="flex-grow-1 ml-2">La dernière consultation a eu lieu il y a moins de 24h</h3>
  <% else %>
    <h3 class="flex-grow-1 ml-2">La dernière consultation a eu lieu il y a <%= @time_since_last %> jours</h3>
  <% end %>
  <!-- <%= link_to new_patient_consultation_path do %>
    <i id="add-consultation" class="fas fa-plus-circle" style="font-size: 46px; color: #FFCA56;"></i>
  <% end %> -->

  <%= link_to new_patient_consultation_path do %>
    <button class="btn-primary btn-new" style="border-radius: 5px;">Nouvelle Consultation</button>
  <% end %>

</div>


<div class="row no-gutters pt-2">
  <div class="col-3 d-flex flex-column">
    <div id="list-example" class="list-group align-self-center">
      <% @consultations.reverse_each.with_index do |consultation, index| %>
        <a class="list-group-item list-group-item-action" href="#list-item-<%= index %>">
          <%#= consultation.created_at.strftime('%d-%m-%Y') %>
          <%= I18n.l(consultation.created_at, format: :short, locale: :'fr-FR') %>
        </a>
      <% end %>
    </div>
  </div>

  <div class="col-9">
    <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
      <% @consultations.reverse_each.with_index do |consultation, index| %>
        <h3 class="consultation-card-header" id="list-item-<%= index %>"></h3>
        <div class="consultation-card d-flex flex-column justify-content-center">

          <div class="d-flex justify-content-between py-0">
            <% if consultation.user_consultations.empty? %>
            <% else %>
              <p class="font-weight-bold">Consultation réalisée par <%= consultation.user_consultations.first.user.first_name %> <%= consultation.user_consultations.first.user.last_name %></p>
            <% end %>
            <p class="font-weight-bold"><%= I18n.l(consultation.created_at, format: :long, locale: :'fr-FR') %></p>
          </div>

          <section class="sub-card mt-4 px-2">
          <div class="subheader mt-n2"><mark>Poids & Mesures</mark></div>
          <ul class="d-flex justify-content-around px-2 py-3 my-0">
            <li class="col-3"><i class="mr-2 fas fa-ruler"></i><%= "#{consultation.height} cm" %></li>
            <li class="col-3"><i class="mr-2 fas fa-weight"></i><%= "#{consultation.weight} kg"%></li>
            <li class="col-3"><i class="mr-2 fas fa-heart"></i><%= "#{consultation.systolic_blood_pressure} /
                                                                    #{consultation.diastolic_blood_pressure}"%></li>
          </ul>
          </section>

          <section class="sub-card mt-4 mb-2 px-2">
            <div class="subheader mt-n2"><mark>compte rendu</mark></div>
            <p class="py-3"><%= consultation.report %></p>
          </section>

          <!-- Button trigger modal -->
          <%= render '/tickets/new', ticket: @ticket, patient: @patient %>

          <section class="sub-card-1 px-2 pt-1 pb-3 mt-3 flex-grow-1">
            <% if consultation.tickets.empty? %>
              <div class="d-flex flex-column align-items-center mt-3">
                <div class="empty-tickets-wrapper d-flex flex-column justify-content-end">
                  <p class="mb-1 font-weight-bold">Aucun spécialiste n'a été sollicité pour cette consultation</p>
                  <button type="button" class="btn-primary btn-new mb-2" data-toggle="modal" data-target="#exampleModalCenter">
                    Demander l'avis d'un spécialiste
                  </button>
                </div>
              <div>

            <% else %>
              <div class="d-flex justify-content-between mt-0">
                <div class="d-flex subheader mt-n5"><mark class="align-self-center">avis du spécialiste</mark></div>
                <button id="callSpecialist" class="btn mr-n2"><i class="fas fa-video" style="font-size: 24px; color: #508CFA;"></i></button>
              </div>
              <div id="question" class="mt-n4">
                <div class="d-flex flex-inline mt-1">
                  <i class="fas fa-user-md" style="font-size: 18px; color: black;"></i>
                  <% asking = consultation.tickets.last.asking_user_id %>
                  <% asking_user = User.find(asking.to_i) %>
                  <p class="ml-1 align-self-center font-italic"><%= asking_user.first_name %> <%= asking_user.last_name %></p>
                </div>

                <div class="ticket-qa d-flex flex-row justify-content-between">
                  <i class="fas fa-quote-left align-self-start"></i>
                  <div class="mx-2 w-100"><%= consultation.tickets.last.question %></div>
                  <i class="fas fa-quote-right align-self-end"></i>
                </div>
              </div>

              <div id="answer" class="mt-3">
                <div class="d-flex flex-inline mt-1 mr-1 flex-row-reverse">
                  <p class="ml-1 font-italic">Dr. Paul Haja</p>
                  <i class="fas fa-user-md" style="font-size: 18px; color: black;"></i>
                </div>

                <div class="ticket-qa right d-flex flex-row justify-content-between">
                  <i class="fas fa-quote-left align-self-start"></i>
                  <div class="mx-2 w-100"><%= consultation.tickets.last.answer %></div>
                  <i class="fas fa-quote-right align-self-end"></i>
                </div>
              </div>

            <% end %>
          </section>

        </div>
      <% end %>
    </div>
    </div>
  </div>
</div>

<script>
  var call = document.getElementById('callSpecialist');

  call.addEventListener("click", (event) => {
      console.log("hello");
      window.open("https://us04web.zoom.us/j/664727181")
    });
</script>
