<div class="d-flex justify-content-end">
  <%= link_to new_patient_consultation_path do %>
    <button id="nav-new" class="btn-primary btn-new">Ajouter une consultation</button>
  <% end %>
</div>

<hr>

<div class="row">
  <div class="col-4">
    <div id="list-example" class="list-group">
      <% @consultations.reverse_each.with_index do |consultation, index| %>
        <a class="list-group-item list-group-item-action" href="#list-item-<%= index %>"><%= consultation.created_at.strftime('%d-%m-%Y') %> <%= index %></a>
      <% end %>
    </div>
  </div>


  <div class="col-8">
    <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example" style="position: relative; height: 400px; overflow-y: scroll;">
      <% @consultations.reverse_each.with_index do |consultation, index| %>
          <h4 id="list-item-<%= index %>"><%= consultation.created_at.strftime('%d-%m-%Y') %> <%= index %></h4>
          <div class="card" style="height: 300px;">
            <ul>
              <li><%= "Taille : #{consultation.height}" %></li>
              <li><%= "Poids : #{consultation.weight}"%></li>
              <li><%= "Compte rendu : #{consultation.report}" %></li>
              <li><%= link_to "détails", consultation_path(consultation) %></li>
            </ul>

      <!-- Button trigger modal -->
            <button type="button" class="btn-primary btn-new" data-toggle="modal" data-target="#exampleModalCenter">
              Créer un ticket
            </button>

            <%= render '/tickets/new', ticket: @ticket, patient: @patient %>
            <%#= render 'shared/newticket_form' %>

            <% if consultation.tickets.empty? %> 
            <i class="fas fa-quote-left"></i><p class="empty">PAS DE TICKETS</p><i class="fas fa-quote-right"></i>
            <% else %>
              <div><i class="fas fa-quote-left"></i><%= consultation.tickets.last.question %><i class="fas fa-quote-right"></i></div>
            <% end %> 

      <% end %>
    </div>
  </div>

</div>
