<div class="container">
  <div class="row justify-content-center md-6">
    <div class="card-simpleform border-simpleform box-shadow mb-4">
  <%= simple_form_for(patient) do |f| %>

  <%= f.error_notification %>


        <%= f.input :first_name, label_html: {class: 'field-title'} %>


        <%= f.input :last_name, label_html: {class: 'field-title'} %>


        <%= f.input :birthdate, label_html: {class: 'field-title'} %>


        <%= f.input :gender, as: :radio_buttons, collection: ['Female','Male'] %>



        <%= f.input :address, label_html: {class: 'field-title'}  %>

        <%= f.input :city, label_html: {class: 'field-title'} %>


        <%= f.input :phone_number, label_html: {class: 'field-title'} %>
          <div class="btn-primary-patient">
            <%= f.button :submit, class: "btn-primary w-100" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

