<div class="container-fluid" style="height: 100vh;">
  <div class="d-flex flex-row pt-3">
    <h1 class="flex-grow-1">Mes patients</h1>
    <%= link_to("Nouveau Patient", mypatients_new_path, class: "btn-primary btn-new", style: "text-decoration: none;", role: "button") %>
  </div>
  <section class="last-patients pt-2">
    <h2>Mes derniers patients consultés</h2>
      <% if @last.empty? %>
      <div class="d-flex flex-row justify-content-start mt-4">
        <h3>Vous n'avez consulté aucun patient</h3>
      </div>
      <% elsif @last.size <= 2 %>
        <div class="d-flex flex-row justify-content-start mt-3">
          <% @last.each do |patient| %>
            <div class="patient-card d-flex flex-column justify-content-around align-items-center">
              <h4><%= patient.first_name %> <%= patient.last_name %></h4>
              <p>Dernière consultation le <%= patient.consultations.last.created_at.strftime('%d/%m/%Y') %></p>
              <div class="d-flex justify-content-center">
                <i class="fas fa-quote-left mb-1" style="color: black; font-size: 10px;"></i>
                <p class="mx-1"><%= patient.consultations.last.report.first(25) %>...</p>
                <i class="fas fa-quote-right mt-1" style="color: black; font-size: 10px;"></i>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="d-flex flex-row justify-content-between mt-3">
          <% @last.each do |patient| %>
            <div class="patient-card d-flex flex-column justify-content-around align-items-center">
              <h4><%= patient.first_name %> <%= patient.last_name %></h4>
              <p>Dernière consultation le <%= patient.consultations.last.created_at.strftime('%d/%m/%Y') %></p>
              <div class="d-flex justify-content-center">
                <i class="fas fa-quote-left mb-1" style="color: black; font-size: 10px;"></i>
                <p class="mx-1"><%= patient.consultations.last.report.first(25) %>...</p>
                <i class="fas fa-quote-right mt-1" style="color: black; font-size: 10px;"></i>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
  </section>
  <section class="patients pt-3">
    <% if @results.empty? %>
    <h2>Aucun résultat n'a été trouvé pour votre recherche</h2>
    <% elsif @results.size == 1 %>
      <h2><%= @results.size %> résultat a été trouvé pour votre recherche</h2>
    <% else %>
      <h2><%= @results.size %> résultats ont été trouvés pour votre recherche</h2>
    <% end %>

    <!-- <%= simple_form_for :search, url: mypatients_searchresult_path, method: "GET", html: { class: 'form-inline mt-1' } do |f| %>
      <%= f.input :searchedword, input_html: {value: ""}, label: false %>   
      <%= f.submit "rechercher", class: "btn-primary btn-new" %>
    <% end %> -->

    <div class="my-2">
      <%= simple_form_for :search, url: mypatients_searchresult_path, method: "GET", html: { class: "form-inline mt-1" } do |f| %>
        <%= f.input :searchedword, input_html: {value: "", id: "my-search"}, label: false %>  
        <%= button_tag type: 'submit', class: "button postfix", id: "my-search-btn" do %>
            <i class="fas fa-search" aria-hidden="true", style="color: #ffffff; font-size: 18px; padding-top: 3px; vertical-align: top;"></i>
        <% end %>
      <% end %>
    </div>

    <table class="table table-hover mt-2">
      <thead>
        <tr>
          <th class="align-middle text-center mx-0 px-0" scope="col"><i class="git fas fa-user" style="font-size: 20px; color: #303C70 !important;"></i></th>
          <th class="align-middle" scope="col">Prénom</th>
          <th class="align-middle" scope="col">Nom</th>
          <th class="align-middle text-center" scope="col">Âge</th>
          <th class="align-middle" scope="col">Dernière consultation</th>
          <th class="align-middle" scope="col">Suivi depuis</th>
        </tr>
      </thead>
      <tbody>
        <% if @results.empty? %>
          <h3>Désolé, aucun résultat n'a été trouvé pour cette recherche</h3>
        <% else %>
          <% @results.each_with_index do |patient, index| %>
            <tr class="" data-href="<%= patient_consultations_path(patient) %>">
              <% if patient.gender == 'H' %>
                <td class="p-1 text-center"><i class="fas fa-male" style="font-size: 24px; color: #303C70;"></i></td>
              <% else %>
                <td class="p-1 text-center"><i class="fas fa-female" style="font-size: 24px; color: #303C70;"></i></td>
              <% end %>
              <td><%= patient.first_name %></td>
              <td><%= patient.last_name %></td>
              <td class="text-center"><%= patient.age %></td>
              <td><%= patient.consultations.last.nil? ? "Aucune consultation" : patient.consultations.last.created_at.strftime('%d/%m/%Y') %></td>
              <td><%= patient.created_at.strftime('%d/%m/%Y') %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%#= will_paginate @results, list_classes: %w(pagination justify-content-center), previous_label: "", next_label: "" %>
  </section>
</div>
