<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Insuline - Bienvenue sur votre console de gestion</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'dashboards', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

  <div class="container-fluid d-flex flex-row mx-0 px-0">
    <div class="col-3 d-flex justify-content-center cartouche">
      <div class="d-flex flex-column justify-content-center mt-n5">
        <div class="userinfo text-center py-3">
          <%= image_tag "test.jpeg", class: "avatar-bordered-dashboard" %>
          <h2 class="mt-2" id="dashboard-username"><%= current_user.first_name %></h2>
        </div>
        <nav class="">
          <div class="tab d-flex flex-column justify-content-center" id="nav-tab">
            <button id="nav-tickets" class="nav-btn text-center" onclick="openTab(event, 'tickets')">Mes tickets</button>
            <button id="nav-patients" class="nav-btn text-center mt-3" onclick="openTab(event, 'patients')">Mes patients</button>
            <button id="nav-medecins" class="nav-btn text-center mt-3" onclick="openTab(event, 'medecins')">Mes médecins</button>
            
            <button id="nav-infos" class="nav-btn nav-infos text-center mt-3" onclick="openTab(event, 'mesinfos')">Mon Compte</button>
          </div>
        </nav>
        <span id="logout" class="align-self-center">
          <i class="git fas fa-sign-out-alt" style="font-size: 16px; color: white;"></i>
          <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete, class: "align-self-end" %>
        </span>



      </div>
    </div>
    <div class="col-9 px-2">
      <%= yield %>
    </div>
  </div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= render 'shared/flashes' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <script>
    document.getElementById("nav-tickets").click();
    function openTab(evt, tabName) {
      // Declare all variables
      var i, tabcontent, tablinks;

      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tab-content");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }

      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("nav-btn");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" focus", "");
      }

      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " focus";
    }
    </script>
  </body>
</html>