<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Insuline - Bienvenue sur votre console de gestion</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'dashboards', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

  <div class="container-fluid d-flex flex-row mx-0 px-0">
    <div class="col-3 d-flex justify-content-center cartouche">
      <div class="d-flex flex-column justify-content-center mt-n5">
        <div class="userinfo text-center py-3">
          <%= image_tag "test.jpg", class: "avatar-bordered-dashboard" %>
          <h2 class="mt-2" id="dashboard-username"><%= current_user.first_name %></h2>
        </div>
        <nav class="">
          <div class="tab d-flex flex-column justify-content-center" id="nav-tab">
            <%# <button id="nav-patients" class="nav-btn text-center mt-3">Mes patients</button> %>
            <%= link_to "Mes patients", mypatients_path, class: "nav-btn text-center" %>

            <%# <button id="nav-tickets" class="nav-btn text-center">Mes tickets</button> %>
            <%= link_to "Mes tickets", mytickets_path, class: "nav-btn text-center mt-3" %> 

            <%# <button id="nav-medecins" class="nav-btn text-center mt-3">Mes médecins</button> %>
            <%= link_to "Mes médecins", request.original_url, class: "nav-btn text-center mt-3" %>
            
            <%# <button id="nav-infos" class="nav-btn nav-infos text-center mt-3">Mon Compte</button> %>
            <%= link_to "Mon compte", myaccount_path, class: "nav-btn text-center mt-3", id: "nav-infos" %>
          </div>
        </nav>
        <span id="logout" class="align-self-center">
          <i class="fas fa-sign-out-alt" style="font-size: 16px; color: white;"></i>
          <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete, class: "align-self-end" %>
        </span>
      </div>
    </div>
    <div class="col-9 px-2">
      <%= yield %>
    </div>
  </div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%# <%= render 'shared/flashes' %>
    <!-- <p class="notice"><%= notice %></p> -->
    <p class="alert"><%= alert %></p>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");
        // console.log(rows)
        rows.forEach(row => {
          row.addEventListener("click", () =>
          window.location.href = row.dataset.href);
        });
      });

      // document.addEventListener("DOMContentLoaded", () => {
      //   const avatars = document.querySelectorAll("img.avatar-square");
      //   avatars.forEach(avatar => {
      //     avatar.addEventListener("mouseover", () =>
      //       console.log(avatar)
      //       let biggerAvatar = avatar.cloneNode;
      //       biggerAvatar.className = "avatar-zoom";
      //       document.body.appendChild(biggerAvatar);)
      //     );
      //   });
      // });
    </script>
  </body>
</html>